<!DOCTYPE html>
<html>
<%- include("partials/head.ejs", {title:"Portfolio", css:"index"}) %>

  <body>
    <%- include("partials/header.ejs") %>
      <!-- Home -->
      <section class="home" id="home">
        <div class="home-content">
          <h3>Hello, It's Me</h3>
          <h1>Juan Jose Tellez</h1>
          <h3>And I'm <span class="multiple-text"></span></h3>
          <p class="home-text">My main goal is to become the best version of myself day by day, focusing on the features that stand out the most. The key elements for me are commitment, discipline, and consistency, and these form the core of my work philosophy. As a Full Stack Developer, I am capable of building a complete and functional website from scratch. I apply various tools, including HTML, CSS, JavaScript, Node.js, Express, and MySQL. Currently, I am expanding my skill set by learning additional tools such as APIs and React.</p>
          <div class="social-media">
            <a href="https://www.facebook.com/jaason.voorhes/" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
            <a href="https://www.instagram.com/juanjo2506/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://w.app/PralLp" target="_blank"><i class='bx bxl-whatsapp'></i></a>
            <a href="https://www.linkedin.com/in/juan-jose-tellez-292698251/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/juanjo2506" target="_blank"><i class='bx bxl-github'></i></a>
            
          </div>
          <a href="https://drive.google.com/file/d/1Itw8OHD3fSOm6WQtO2D8nY7HHvER0a0V/view?usp=sharing" class="btn" target="_blank">Download CV</a>
        </div>
        <div class="home-img">
          <img src="/images/FOTO.png" alt="">
        </div>
      </section>
      <!-- <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C212.47,176.16 349.21,-49.99 497.46,27.14 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #174348;"></path></svg></div> -->

      <!-- about -->
      <section class="about" id="about">
        <div class="about-img">
          <img src="/images/about.jpeg" alt="">
        </div>
        <div class="about-content">
          <h2 class="heading">About <span>Me</span></h2>
          <h3>FullStack Developer</h3>
          <p>Throughout my entire life, I have consistently endeavored to enhance every aspect of my personal and professional development, contributing to the achievements that i have reached until now. My favorite pastimes include engaging in video games, acquiring new knowledge, maintaining a fitness routine, and, most importantly, fostering creativity by crafting new projects. It is through programming that I have discovered the immense potential for innovation and personal growth within the path I have chosen. As an individual with a background in Industrial Engineering and a specialization in Project Management, i would like to apply my distinctive skills in a professional context</p>
          <h2 class="btn btn-about">Achievements</h2>
          <div class="achievements">
            <h2>What have I <span>achieved?</span></h2>
            <ul>
              <li>Managing different projects for companies that somehow lack resources or knowledge in specific areas of Industrial Engineering such as:
                <ul class="projects-ul">
                  <li>Information systems</li>
                  <li>Logistics management</li>
                  <li>Budgeting and cost control</li>
                  <li>Human talent</li>
                </ul>
              </li>
              <li>Using programming to solve various scenarios simulating real-world problems faced by companies, within an academic context.</li>
              <li>Obtain specialization in project management, with the capability to develop a comprehensive project addressing the impact of the COVID-19 pandemic on a small company named 'Café las Margaritas,' and devise strategies to mitigate the effects of future potential pandemics.</li>
              <li>Having an advanced level of English proficiency, supported by a certificate demonstrating my language skills, which are not merely evidenced on paper but also evident in real-life conversations.</li>
            </ul>
          </div>
        </div>
      </section>
  

      <!-- Services -->
      <section class="services" id="services">
        <h2 class="heading">My <span>Skills</span></h2>

        <div class="services-container">
          <div class="services-box">
            <i class='bx bx-code'></i>
            <h3>Web Development</h3>
            <p>Thanks to all the skills and knowledge that I have acquired, I have recently become a full-stack developer. I am capable of building a website, including its functionalities, implementing CRUD operations, validations, a login and registration process, database integration, and APIs.</p>
    <!--         <a href="#" class="btn">Read More</a> -->
          </div>
          <div class="services-box">
            <i class='bx bxl-sketch' ></i>
            <h3>Frontend Skills</h3>
            <p>I'm able to design the visual aspects of the different sections that comprise a website, structuring it through HTML, CSS, and JavaScript. Right now, I'm learning React in order to implement new features for future projects.</p>
    <!--         <a href="#" class="btn">Read More</a> -->
          </div>
          <div class="services-box">
            <i class='bx bx-laptop'></i>
            <h3>Backend Skills</h3>
            <p>Definitely what I like the most is the backend side. It's like bringing to life the project you are working on. In this case, I'm using JavaScript as the main tool. Then, I use Express, Node.js, MySQL, and everything in between. As additional packages, I utilize Sequelize, EJS, Multer, Express-session, and cookie-parser</p>
           <!--  <a href="#" class="btn">Read More</a> -->
          </div>
        </div>
      </section>

      <!-- porfolio -->
      <section class="portfolio" id="portfolio">
        <h2 class="heading">Lastest <span>Project</span></h2>
        <div class="portfolio-container">
                    
          <% portfolios.forEach(portfolio => { %>     
            <div class="portfolio-box">
              <img src="/images/<%= portfolio.img %>" alt="">
              <div class="portfolio-layer">
                <h4><%= portfolio.name %></h4>
                <p><%= portfolio.description %></p>
                <div class="links-box">
                <a href="<%= portfolio.link %>" target="_blank"><i class='bx bx-link' ></i></a>
                <a href="<%= portfolio.linkGit %>" target="_blank"><i class='bx bxl-github'></i></a>    
              </div>
              </div>
            </div>
            <% }) %>

        </div>
        <h2 class="btn btn-portfolio">Note: Click to Expand</h2>
        <div class="Note">
          <p class="">As you can see, some of these projects have two links: one of them is the direct link to the website, and the other one is the GitHub repository where it's saved. Right now, some of the projects are still in progress, so you will see changes over time, including the addition of new features and possibly some design changes. If you have any questions, feel free to contact me.</p>
        </div>
      </section>
      <!-- Contact -->
      <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="https://formsubmit.co/juanjose250699@gmail.com" method="POST" id="myForm">
          <div class="input-box">
            <input type="text" placeholder="Full Name" name="name">
            <input type="email" placeholder="Email Address" name="email">
          </div>
          <div class="input-box">
            <input type="number" placeholder="Mobile Number" name="phone">
            <input type="text" placeholder="Email Subject">
          </div>
          <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
           <input type="submit" value="Send" class="btn">
           <!-- aqui en el value es el dominio -->
           <input type="hidden" name="_next" value="http://localhost:3000">
           <input type="hidden" name="_captcha" value="false">
        </form>
      </section>
      <%- include("partials/footer.ejs") %>

      <script src="https://unpkg.com/scrollreveal"></script>


      <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>



      <script src="/javascripts/script.js">

      </script>

      <!-- scroll reveal -->
  </body>
</html>